body {width: 80%;margin: 0 auto;line-height:180%;}
h1 {font-size: 160%;margin-top:2rem;}
h2 {font-size: 140%;margin-top:2rem;}
h3 {font-size: 120%;margin-top:2rem;padding-left:10px;}
li li{padding-bottom:0.8em;}
th {
    border-bottom: solid 1px #333;
}
td {

    background-color:white;
    border: solid 1px #fff;
}
table {
    line-height:120%;
    width:500px !important;
    margin: 0 auto;
    border-top: solid 2px #333;
    border-bottom: solid 2px #333;
}
img {display: block;margin: auto;}
img.inline {display: inline;}
.eq{text-align:center;padding-bottom:2em;}
